In [1]:
import pandas as pd
import numpy as np
from Neural_Network import Neural_Network

NameError: name 'np' is not defined

In [ ]:
iris = pd.read_csv('datasets/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
nw = Neural_Network(examples=iris, 
                    indepedent_vars=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'],
                    dependend_var='species',
                    num_hidden_layers=4,
                    neurons_per_layer=[1,2,3,4,5])
nw.cross_validation(0.8)

[[<Perceptron.Perceptron at 0x7f3b2e88aa90>],
 [<Perceptron.Perceptron at 0x7f3b2e888110>,
  <Perceptron.Perceptron at 0x7f3b2e888110>],
 [<Perceptron.Perceptron at 0x7f3b2e88a7d0>,
  <Perceptron.Perceptron at 0x7f3b2e88a7d0>,
  <Perceptron.Perceptron at 0x7f3b2e88a7d0>],
 [<Perceptron.Perceptron at 0x7f3b2e88a8d0>,
  <Perceptron.Perceptron at 0x7f3b2e88a8d0>,
  <Perceptron.Perceptron at 0x7f3b2e88a8d0>,
  <Perceptron.Perceptron at 0x7f3b2e88a8d0>],
 [<Perceptron.Perceptron at 0x7f3b2e88a890>,
  <Perceptron.Perceptron at 0x7f3b2e88a890>,
  <Perceptron.Perceptron at 0x7f3b2e88a890>,
  <Perceptron.Perceptron at 0x7f3b2e88a890>,
  <Perceptron.Perceptron at 0x7f3b2e88a890>]]

In [ ]:
spambase = pd.read_csv('datasets/spambase.data') ## hay que agregarle manualmente las columnas
spambase

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.41,0.42,0.43,0.778,0.44,0.45,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:
type(np.ndarray([1,2,3,4]))

numpy.ndarray